<extend name="Index/index"/>
<block name="content">
    <div class="public-nav">
        您当前的位置：
        <a href="">{$module}</a>>
        <a href="">{$menu}</a>
    </div>
    <div class="public-content">
        <div class="public-content-header">

            <h3>{$menu}</h3>

        </div>
        <div class="public-content-cont">
            <table class="public-cont-table">
                <tr>
                    <th >ID</th>
                    <th >用户名</th>
                    <th >收藏者手机</th>
                    <th >收藏状态</th>
                    <th >收藏活动</th>
                    <th >发起者手机</th>
                    <th >收藏时间</th>
                    <!--<th >操作</th>-->
                </tr>
                <volist name="lists" id="v">
                    <tr>
                        <td>{$v.id}</td>
                        <td><a href="{:U('User/index',['id'=>$v[user_id]])}" style="color: #00C1B3">{$v.user_name}</a></td>
                        <td>{$v.user_phone}</td>
                        <td>
                            <if condition="$v[status] eq 1">
                                <span style="color: #45B549">正常</span>
                                <else/>
                                <span style="color: red">删除</span>
                            </if>
                        </td>
                        <td title="{$v.feedback_content}" ><a href="{:U('Activity/index',['id'=>$v[activity_id]])}" style="color: #6eb6de">{$v.activity_title}</a></td>
                        <td>{$v.initiate_user_phone}</td>
                        <td>{$v.inputtime}</td>

                        <!--<td>-->
                            <!--<div class="table-fun">-->
                                <!--&lt;!&ndash;<a href="{:U('Admin/edit',['id'=>$v[id]])}">修改</a>&ndash;&gt;-->
                                <!--<if condition="$v[status] eq 1">-->
                                    <!--<a href="javaScript:;" attr-id="{$v.id}" attr-name="封停" class="tp-delete">-->
                                        <!--<span style="color: red">封停</span>-->
                                    <!--</a>-->
                                    <!--<else/>-->
                                    <!--<a href="javaScript:;" attr-id="{$v.id}" attr-name="恢复" class="tp-delete">-->
                                        <!--<span style="color: deepskyblue">恢复</span>-->
                                    <!--</a>-->
                                <!--</if>-->
                            <!--</div>-->
                        <!--</td>-->
                    </tr>
                </volist>
            </table>
            <div class="pagelist">
                {$page}
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/run.js"></script>

    <script>
        var SCOPE = {
            'redirect_url' : "{:U('UserFeedback/delete')}",
            'jump_url' : "{:U('UserFeedback/index')}"
        };
    </script>
</block>