<extend name="Index/index"/>
<block name="content">
    <div class="public-nav">
        您当前的位置：
        <a href="">{$module}</a>>
        <a href="">{$menu}</a>
    </div>
    <div class="public-content">
        <div class="public-content-header">
            <div class="public-content-right fr">
                <a href="{:U('ActivityCate/add')}" style="height: 24px; width: 60px;border: 1px solid #ccc;font-size: 12px;text-align:center">添加信息</a>
            </div>
            <h3>{$menu}</h3>

        </div>
        <div class="public-content-cont">
            <table class="public-cont-table">
                <tr>
                    <th style="width:2%">ID</th>
                    <th style="width:10%">名称</th>
                    <th style="width:10%">状态</th>
                    <th style="width:10%">添加时间</th>
                    <th style="width:20%">操作</th>
                </tr>
                <volist name="lists" id="v">
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.activity_cate_name}</td>
                        <td>
                            <if condition="$v[status] eq 1">
                                <span style="color: #45B549">正常</span>
                                <else/>
                                <span style="color: red">删除</span>
                            </if>
                        </td>
                        <td>{$v.inputtime}</td>
                        <td>
                            <div class="table-fun">
                                <a href="{:U('ActivityCate/edit',['id'=>$v[id]])}">修改</a>
                                <a href="javaScript:;" attr-id="{$v.id}" attr-name="删除" class="tp-delete">
                                        <span style="color: red">删除</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </volist>
            </table>
            <div class="pagelist">
                {$page}
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/run.js"></script>

    <script>
        var SCOPE = {
            'redirect_url' : "{:U('ActivityCate/delete')}",
            'jump_url' : "{:U('ActivityCate/index')}"
        };
    </script>
</block>