<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{:W('Public/web_logo')}" type="image/x-icon"/>
    <title>{:W('Public/web_name')}|官方首页</title>
</head>
<body>
<img src="__IMG__/wzjsz.jpg" style="margin-left: 385px;margin-top: 130px;">

<!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=gh_b0ba9061ae47==#wechat_redirect">原始id</a>-->
<!--<br/>-->
<!--<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=wx7b0e83e677e7f200==#wechat_redirect">appid</a>-->

</body>
</html> 